body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: "Roboto",sans-serif;
}
#root, .app {
  height: 100%;
}

.app {
  display: flex;
  position: relative;
  /*overflow-y: hidden;*/
}
.logo-wrapper {
  min-height: 100px;
}

*:focus {
  outline: none !important;
}
.pro-sidebar .pro-icon-wrapper {
  border-radius: 50% !important;
}

.dialog-border {
  border-radius: 50px !important;
  border: solid 2px #306cb0;
}

.problems-select-multi .optionContainer {
  max-height: 200px!important;
}

/*.pro-sidebar > .pro-sidebar-inner {*/
/*  background-color: #306cb0 !important;*/
/*}*/

.component-loading {
  text-align: center;
  padding-top: 100px;
}

.full-loading {
  width: 100%;
  min-height: 100%;
}

.blink-warning {
  color: red;
  font-weight: bolder;
  animation: blink-warning 1s steps(1, end) infinite;
}

@keyframes blink-warning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.latex-content span {
  font-size: 20px !important;
}
